{{- if .Site.Menus.main }}
<nav class="menu" aria-label="Main navigation">
	<button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
		<span class="menu__btn-title" tabindex="-1">{{ T "menu_label" }}</span>
	</button>
	<ul class="menu__list">
		{{- $currentNode := . }}
		{{- range .Site.Menus.main }}
		{{- if .Name }}
		<li class="menu__item{{ if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} menu__item--active{{ end }}">
			{{- if .HasChildren }}
			<details class="menu__accordion">
				<summary class="menu__link">{{ .Pre }}<span class="menu__text">{{ .Name }}</span>{{ .Post }}</summary>
				<ul class="menu__submenu">
					{{- range .Children }}
					<li class="menu__item{{ if $currentNode.IsMenuCurrent "main" . }} menu__item--active{{ end }}">
						<a class="menu__link" href="{{ .URL }}"{{ if $currentNode.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>{{ .Pre }}<span class="menu__text">{{ .Name }}</span>{{ .Post }}</a>
					</li>
					{{- end }}
				</ul>
			</details>
			{{- else }}
			<a class="menu__link" href="{{ .URL }}"{{ if $currentNode.IsMenuCurrent "main" . }} aria-current="page"{{ end }}>{{ .Pre }}<span class="menu__text">{{ .Name }}</span>{{ .Post }}</a>
			{{- end }}
		</li>
		{{- end }}
		{{- end }}
	</ul>
</nav>
{{ else -}}
<div class="divider"></div>
{{- end }}
